@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-bg-primary: #3C9AF0;
    --color-bg-secondary: #C8C8C8;
    --color-bg-tertiary: #FFFFFF;

    --color-border-primary: #3C9AF0;

    --color-font-primary: #FFFFFF;
    --color-font-secondary: #5E5E5E;
    --color-font-tertiary: #3C9AF0;
}

/* generics tags, sections */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

header {
    background-color: var(--color-bg-primary);
    height: 70px;
    display: flex;
    align-items: center;
}

header h1 {
    color: var(--color-font-primary);
    font-size: 20px;
    text-align: center;
}

#section-cars {
    padding-left: 20px;
    padding-right: 20px;
}

#section-comments {
    background-color: var(--color-bg-secondary);
}

footer {
    background-color: var(--color-bg-primary);
    height: 120px;
    color: var(--color-font-primary);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

/* classes */ 

.title-section {
    color: var(--color-font-secondary);
    text-align: center;
    font-size: 20px;
}

.card-car {
    width: 100%;
    height: 248px;
    border-radius: 10px;
    border: 1px solid var(--color-bg-primary);
}

.card-car img {
    width: 280px;
    height: 195px;
    padding: 10px;
}

.card-car p {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.cards-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.card-comment-container {
    width: 100%;
    height: 146px;
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-primary);
    border-radius: 12px;
}

.card-comment-container p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-font-tertiary);
    padding: 25px 20px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
}

/* aux's classes */

.container-top {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.container-bottom {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.card-car-container {
    width: 100%;
    max-width: 391px;
    margin: 0 auto;
}

.mt10 {
    margin-top: 10px;
}

.mt25 {
    margin-top: 25px;
}

.mb25 {
    margin-bottom: 25px;
}

.pt25 {
    padding-top: 25px;
}

.pb25 {
    padding-bottom: 25px;
}

/* responsive layout */

@media (min-width: 576px) {
    header h1 {
        font-size: 24px;
    }

    .title-section {
        font-size: 32px;
    }

    .card-car img {
        width: 391px;
        height: 292px;
    }

    .card-car {
        height: 352px;
    }

    .card-car p {
        font-size: 20px;
    }

    .card-comment-container {
        height: 74px;
    }

    .footer-items {
        flex-direction: row;
        justify-content: space-between;
    }

    /* aux's classes */

    .container-top {
        width: 100%;
        max-width: 746px;
        margin: 0 auto;
    }

    .container-bottom {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }
}